.btn {
	border: none;
	margin-top: 15px;
	margin-left: 5px;
}
.toolbar {
	height: 75px;
}
.logo {
	display: inline-block;
	float: right;
	height: 40px;
	margin-top: 5px;
	margin-right: 10px;
}
.map {
	display: block;
	margin-left: auto;
    margin-right: auto;	
}
.btn-group {
	display:block;
}
#left {
	float: left;
	margin-left: 5px;
	margin-top: 10px;
}
#right {
	float: right;
	margin-right: 5px;
	margin-top: 10px;
}
#btn-main {
	margin-top: 30px;
	width: 100%;
	background-color: #7CCF29;
	bottom: 10px;
}
